// Global sccs file for styling elements
.link {
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
}

.app-wrapper {
  background-color: $primary-yellow;
  min-height: 100vh;
}

.city-weather {
  border-radius: 12px;
  background: linear-gradient(
    312deg,
    $primary-blue 0%,
    $primary-darkgreen 75%,
    $primary-green 100%
  );
  background-color: $neutral-color;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
}

.city-image {
  width: 10vh;
  opacity: 0.4;
  border: 1px solid;
  border-radius: 50%;
}

.hourly-city-weather {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 0.7px solid $neutral-color;
}

//Scrollbar scss
/* Width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $primary-yellow;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-blue;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-darkblue;
}
