$desktop_width: 4096px;
$tablet_width: 1024px;
$mobile_width: 750px;

@mixin media_desktop {
  @media only screen
    and (max-width: #{$desktop_width}) {
    @content;
  }
}

@mixin media_tablet {
  @media only screen
    and (max-width: #{$tablet_width}) {
    @content;
  }
}
@mixin media_mobile {
  @media only screen
    and (max-width: #{$mobile_width}) {
    @content;
  }
}
