.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 10px;

  @include media_tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media_mobile {
    display: block;
  }
}

.card-wrapper {
  min-width: 200px;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(
    312deg,
    $primary-blue 0%,
    $primary-darkgreen 75%,
    $primary-green 100%
  );
  background-color: $neutral-color;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
  @include media_tablet {
    margin: 2vh;
  }
  @include media_mobile {
    margin: 0 auto;
  }
}

.weather-info {
  text-align: center;
  .weather-icon {
    width: 50%;
  }
}

.city-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.7px solid $neutral-color;
  padding-bottom: 10px;
  .city-image {
    width: 10vh;
    opacity: 0.4;
    border: 1px solid;
    border-radius: 50%;
  }
  p {
    margin-bottom: 0;
  }
}

.hourly-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 95px;
  overflow: auto;
  div {
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 0.7px solid $neutral-color;
  }
}
