// Sccs file for element positions

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 10px;

  @include media_tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media_mobile {
    display: block;
  }
}

.card-wrapper {
  min-width: 200px;
  padding: 10px;

  @include media_tablet {
    margin: 2vh;
  }
  @include media_mobile {
    margin: 0 auto;
  }
}

.weather-info {
  text-align: center;
  .weather-icon {
    width: 50%;
  }
}

.city-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.7px solid $neutral-color;
  padding-bottom: 10px;
  p {
    margin-bottom: 0;
  }
}

.hourly-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-height: 95px;
  overflow: auto;
}

span {
  display: block;
}

.header {
  text-align: center;
  padding-top: 30px;
}
