$primary-darkblue: #05668d;
$primary-blue: #028090;
$primary-darkgreen: #00a896;
$primary-green: #02c39a;
$primary-yellow: #f0f3bd;
$neutral-color: #fff;

$main-font: "Jost", sans-serif;
$font-light: 200;
$font-normal: 300;
$font-bold: 500;
