<div class="card-wrapper city-weather">
  <!-- Header with city name and city icon -->
  <div class="city-header">
    <img class="city-image" [src]="cityWeather.cityIcon" />
    <span>{{ cityWeather.name }}</span>
  </div>
  <!-- Information about current city weather with weather icon, descrition, tem, and wind strenght -->
  <div class="weather-info">
    <img class="weather-icon" [src]="cityWeather.weather.icon" />
    <span>{{ cityWeather.weather.description }}</span>
    <span class="weather-tmp"
      >{{ cityWeather.temp | number: "1.0-0" }}&deg;C</span
    >
    <span>wind: {{ cityWeather.wind | number: "1.0-0" }} knots</span>
    <!-- Link to show hourly weather if hourlyCityWeather list is empty  -->
    <span
      *ngIf="!hourlyCityWeather.length"
      class="link"
      (click)="getHourlyCityWeather()"
      >See more &rsaquo;</span
    >
    <!-- Link to hide hourly weather if hourlyCityWeather list is not empty  -->
    <span
      *ngIf="hourlyCityWeather.length"
      class="link"
      (click)="hideHourlyCityWeather()"
      >Hide more &lsaquo;</span
    >
    <!-- Shows hourly weather if hourlyCityWeather list is not empty  -->
    <div class="hourly-wrapper">
      <app-hourly-wether
        *ngFor="let hourlyWeather of hourlyCityWeather"
        [hourlyWeather]="hourlyWeather"
      ></app-hourly-wether>
    </div>
  </div>
</div>
<br />
